/* div.boxAnimate {
    width: 100px;
    height: 100px;
    background-color: pink;
    position: relative;
    animation: mymove 2s infinite;
  }
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 500px;}
  } */

  .boxAnimate {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
  }